<% content_for :sub_menu do %>
	<a href = "#">players menu 1</a> |
	<a href = "#">players menu 2</a> |
	<a href = "#">players menu 3</a> |
	<a href = "#">players menu 4</a>
<% end %>

<span id = "admin_content">
	Menu do zarzadzania graczami. Bedzie mozna wyszukiwać graczy, usuwac, edytowac itp.
</span>
