<% content_for :sub_menu do %>
	<a href = "#">Soldier Of Fortune 2</a> |
	<a href = "#">Quake 3</a> |
	<a href = "#">Counter Strike</a> |
	<a href = "#">Call Of Duty 2</a> |
	<a href = "#">Call Of Duty 4</a> 
<% end %>

<span id = "admin_content">
	Menu do zarzadzania serwerami.
</span> 

